body {
  font: normal 12px Arial/*75%/1.5 Verdana, 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans'*/, sans-serif;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: Arial/*Candara, 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans'*/, sans-serif;
  font-weight: bold;
  line-height: 1;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  display: block;
  font-size: 64.29%;
  line-height: 1;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

pre, code, tt {
  font-family: Consolas, 'Lucida Console', monospace;
}

p, ul, ol, dd,
.breadcrumb, .node-submitted,
.node-event .event-location, .event-item {
  padding-bottom: 1.5em;
}

.node-submitted {
	height: 15px;	
}

hr,
.footer-links,
div.warning,
div.messages {
  padding: 0;
  margin: 0 0 1.5em !important;
}

#block-admin-display-form,
.columns .block,
.calendar-calendar,
#sidebar-second .block,
.news-item {
  margin-bottom: 1.5em;
}

div.warning, div.messages {
  padding: .75em 1.5em;
}

ul {
  padding-left: 1.2em;
}

ol, dd, blockquote {
  padding-left: 1.5em;
}

ul ul, ul ol, ol ul, ol ol {
  padding-bottom: 0;
}

blockquote {
  padding-right: 1.5em;
}

small {
  font-size: 83.3%;
  line-height: 1.8;
}

big {
  font-size: 116.6%;
  line-height: 1.2857;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

h1 {
  font-size: 200%;
  padding: .25em 0;
}

h1.page-title {
	background: #fff url(../Images/page-title-top.jpg) no-repeat bottom left;
	color: #007fd0;
	font-family: 'Rock Salt', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
/*	height: 37px;*/
	margin-bottom: 18px;
	padding-bottom: 15px;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.5;
	width: 450px;
}

.Calendar h1.page-title {
	background: #fff url(../Images/page-title-top-long.jpg) no-repeat bottom left;
	color: #007fd0;
	font-family: 'Rock Salt', serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	height: 37px;
	margin-bottom: 18px;
	margin-left: -220px;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	width: 664px;
}

.Forums h1.page-title,
.Ask h1.page-title,
.Interesting h1.page-title,
.Sharing h1.page-title,
.Other h1.page-title,
.node-type-forum h1.page-title {
	background: #fff url(../Images/page-title-top-long.jpg) no-repeat bottom left;
	margin-left: -220px;
	width: 664px;
}

.is-front h1.page-title {
	display: none;	
}

h2,
.date-heading h3 {
  font-size: 175%;
  padding: .3571em 0;
}

h3, th {
  font-size: 150%;
  padding: 0 0 .5em 0;
}

h4 {
  font-size: 116.6%;
  padding: .1429em 0;
}

h5, h6 {
  font-size: 100%;
  padding: .25em 0;
}

h6 {
  font-style: italic;
}

span.paragraph-title {
	color: #5f6a72;
	font-size: 14px;
	font-weight: bold;	
}

span.paragraph-title a {
	color: #5f6a72;
}

.highlight {
	color: #ff0000;	
}

.Videos #content .view-nodequeue-1 .views-admin-links ul.links li {
	display: inline;
	font-size: 8px;
	margin-right: 15px;	
}

.Videos #content .view-nodequeue-1 .item-list ul li.views-row {
	list-style-type: none;
	margin: 0 0 20px 0;
}

.Videos #content .view-nodequeue-1 .item-list ul li.views-row .views-field-title h3 {
	font-size: 12px;
	font-weight: bold;
}
