<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.0.4210.0" defaultFrontendTheme="Default">
	<frontendThemes>
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/Default/App_Themes/Default" name="Default" />
	</frontendThemes>
</appearanceConfig>