<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.0.4210.0" dateCreated="2013-06-17 18:36:55Z">
	<defaultSite id="01c61d23-b5e6-4fbd-affa-93718f245dae" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>