<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.0.4210.0" build="4210">
	<applicationModules>
		<add startupType="Disabled" name="Multisite" />
		<add version="6.0.4210.0" name="Scheduling" />
		<add version="6.0.4210.0" name="Search" />
		<add version="6.0.4210.0" name="News" />
		<add version="6.0.4210.0" name="Blogs" />
		<add version="6.0.4210.0" name="Events" />
		<add version="6.0.4210.0" name="Libraries" />
		<add startupType="Disabled" name="Forms" />
		<add version="6.0.4210.0" name="Lists" />
		<add startupType="Disabled" name="Analytics" />
		<add startupType="Disabled" name="Newsletters" />
		<add version="6.0.4210.0" name="GenericContent" />
		<add version="6.0.4210.0" name="ControlTemplates" />
		<add startupType="Disabled" name="Migration" />
		<add startupType="Disabled" name="Ecommerce" />
		<add version="6.0.4210.0" name="ModuleBuilder" />
		<add startupType="Disabled" name="ResponsiveDesign" />
		<add version="6.0.4210.0" name="Publishing" />
		<add version="6.0.4210.0" name="Forums" />
		<add version="6.0.4210.0" name="Thunder" />
		<add startupType="Disabled" name="Personalization" />
		<add startupType="Disabled" name="MobileAppBuilder" />
		<add startupType="Disabled" name="SharepointConnector" />
		<add startupType="Disabled" name="EverliveConnector" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsListViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.CalendarViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsViewDetailElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ForumsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ThreadsViewMasterElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
	</typeImplementationsMapping>
</systemConfig>