<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.0.4210.0">
	<toolboxes>
		<toolbox name="PageControls">
			<sections>
				<add name="ContentToolboxSection">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Modules.News.Web.UI.NewsView, Telerik.Sitefinity.ContentModules" title="NewsViewTitle" description="NewsViewDescription" resourceClassId="NewsResources" cssClass="sfNewsViewIcn" moduleName="News" visibilityMode="None" name="NewsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Blogs.Web.UI.BlogPostView, Telerik.Sitefinity.ContentModules" title="BlogPostsViewTitle" description="BlogPostsViewDescription" resourceClassId="BlogResources" cssClass="sfBlogsViewIcn" moduleName="Blogs" visibilityMode="None" name="BlogPostsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Blogs.Web.UI.BlogsListControl, Telerik.Sitefinity.ContentModules" title="BlogsList" description="BlogsListDescription" resourceClassId="BlogResources" cssClass="sfBlogsListViewIcn" moduleName="Blogs" visibilityMode="None" name="BlogsListControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Events.Web.UI.EventsView, Telerik.Sitefinity.ContentModules" title="EventsViewTitle" description="EventsViewDescription" resourceClassId="EventsResources" cssClass="sfEventsViewIcn" moduleName="Events" visibilityMode="None" name="EventsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Videos.MediaPlayerControl, Telerik.Sitefinity" title="MediaPlayerControlTitle" description="MediaPlayerControlDescription" resourceClassId="PageResources" cssClass="sfVideoIcn" moduleName="Libraries" visibilityMode="None" name="MediaPlayerControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Videos.VideosView, Telerik.Sitefinity" title="VideosViewTitle" description="VideosViewDescription" resourceClassId="LibrariesResources" cssClass="sfVideoListIcn" moduleName="Libraries" visibilityMode="None" name="VideosView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Documents.DocumentLink, Telerik.Sitefinity" title="DocumentLinkControlTitle" description="DocumentLinkControlDescription" resourceClassId="PageResources" cssClass="sfDownloadLinkIcn" moduleName="Libraries" visibilityMode="None" name="DocumentLinkControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Documents.DownloadListView, Telerik.Sitefinity" title="DownloadListViewTitle" description="DownloadListViewDescription" resourceClassId="PageResources" cssClass="sfDownloadListIcn" moduleName="Libraries" visibilityMode="None" name="DownloadListView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Lists.Web.UI.ListView, Telerik.Sitefinity.ContentModules" title="ListItemsViewTitle" description="ListItemsViewDescription" resourceClassId="ListsResources" cssClass="sfListitemsIcn" moduleName="Lists" visibilityMode="None" name="ListItemsView" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.FeedEmbedControl, Telerik.Sitefinity" title="FeedEmbedControlTitle" description="FeedEmbedControlDescription" resourceClassId="PageResources" cssClass="sfFeedsIcn" moduleName="Publishing" visibilityMode="None" name="FeedEmbedControl" />
						<add enabled="True" type="Telerik.Sitefinity.Forums.Web.UI.ForumsView, Telerik.Sitefinity.Forums" title="ForumsViewTitle" description="ForumsViewDescription" resourceClassId="ForumsResources" cssClass="sfForumsViewIcn" moduleName="Forums" visibilityMode="None" name="ForumsView" />
					</tools>
				</add>
				<add enabled="True" title="SearchBoxTitle" description="SearchBoxDescription" resourceClassId="SearchResources" name="Search">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Services.Search.Web.UI.Public.SearchBox, Telerik.Sitefinity.Search.Impl" title="SearchBoxTitle" description="SearchBoxDescription" resourceClassId="SearchResources" cssClass="sfSearchBoxIcn" moduleName="Search" visibilityMode="None" name="Search" />
						<add enabled="True" type="Telerik.Sitefinity.Services.Search.Web.UI.Public.SearchResults, Telerik.Sitefinity.Search.Impl" title="SearchResultsTitle" description="SearchResultsDescription" resourceClassId="SearchResources" cssClass="sfSearchResultIcn" moduleName="Search" visibilityMode="None" name="SearchResults" />
					</tools>
				</add>
				<add enabled="True" title="Classifications" name="Classifications">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" title="Categories" cssClass="sfHierarchicalTaxonIcn" TaxonomyId="e5cd6d69-1543-427b-ad62-688a99f5e7d4" FieldName="Category" visibilityMode="None" name="Categories" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" title="Tags" cssClass="sfFlatTaxonIcn" TaxonomyId="cb0f3a19-a211-48a7-88ec-77495c0f5374" FieldName="Tags" visibilityMode="None" name="Tags" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>